.cart-page {
    direction: rtl;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .cart-page h3 {
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .button {
    width: 100%;
  }
  
  .img-fluid {
    max-height: 100px;
    object-fit: cover;
  }
  