.header-top {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: none;
  }
  
  .header-bottom-yellow-line {
    height: 2px;
    background-color: orange;
  }
  
  .rtl-navbar {
    direction: rtl;
  }
  
  .rtl-navbar .d-flex {
    display: flex;
    align-items: center;
  }
  
  .rtl-navbar .form-inline {
    display: flex;
    align-items: center;
  }
  
  .rtl-navbar .form-inline .form-control {
    margin-left: 10px;
  }
  
  .rtl-navbar .navbar-nav {
    margin-right: auto;
  }

  .category-parent-dropdown {
    position: relative;
  }
  
  .dropdown-subcategories {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    text-align: right;
  }
  
  .category-parent-dropdown:hover .dropdown-subcategories {
    display: block;
  }
  
  .dropdown-sub-item {
    padding: 10px;
    color: #333;
    text-align: right;
  }
  
  .parent-category-item {
    font-weight: bold;
    padding: 10px;
    color: #000;
    text-align: right;
  }
  