.recommended_items {
    margin: 0 auto;
    width: 100%;
}

.section-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.section-title-line {
    width: 30%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    margin: 0 10px;
}

.title {
    font-size: 24px;
    color: #ff9900;
}

.carousel-custom {
    position: relative; /* Ensure the controls are positioned relative to this container */
}

.carousel-custom .carousel-item {
    padding: 20px 0;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Adjust width as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Ensure controls are above items */
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

@media (max-width: 768px) {
    .section-title-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .section-title-line {
        width: 20%;
        margin: 10px 0;
    }

    .title {
        font-size: 20px;
    }

    .carousel-inner {
        display: flex;
        flex-direction: column;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .col-sm-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .product-price {
        font-size: 16px;
    }

    .additional-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
